<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Kiosk Home</h1>

    <% for (var menu of menus) { %>
        <h3>
            <%= menu.label %>
        </h3>
        <h6>
            <%= menu.description %>
                </h2>
                <h5>
                    <%= menu.price %>
                        </h4>
                        <% }  %>
</body>

</html>