<%- include ('header') %>
<div>
    <h1>Description : 매장 신규 등록 페이지</h1>
    <h1>store :
        <%= store.name %>
    </h1>
    <h2>username :
        <%= user.username %>
    </h2>
    <h3></h3>

    <form action="/auth/signout" method="POST">
        <button>logout</button>
    </form>

    <form action="/api/v1/menu/" method="POST" enctype="multipart/form-data">
        <input type="text" placeholder="메뉴 이름" name="label">
        <input type="number" placeholder="가격" name="price">
        <input type="file" name="image" accept="image/*" name="img">
        <textarea name="" id="" cols="30" rows="10" placeholder="사용자에게 보여줄 간단한 상품에 대한 설명을 적어주세요"></textarea>

        <button> 메뉴 등록 </button>
    </form>
</div>
<%- include ('footer') %>

<!-- home아님 그냥 참고용 샘플 파일임-->