<%- include ('header') %>
<div>
    <ul class="uk-grid-small uk-child-width-1-1" uk-sortable="handle: .uk-sortable-handle" uk-grid>
        <li>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-inline">
                    <div>
                        
                    </div>
                    <span class="uk-sortable-handle uk-margin-small-right uk-text-center" uk-icon="icon: table"></span>
                    <span>Lorem ipsem
                        <span>22</span>
                    </span>
                    Item 1
                </div>
            </div>
        </li>
        <li>
            <div class="uk-card uk-card-default uk-card-body">
                <span class="uk-sortable-handle uk-margin-small-right uk-text-center" uk-icon="icon: table"></span>Item 1
            </div>
        </li>
    </ul>
</div>
<%- include ('footer') %>

<!-- home아님 그냥 참고용 샘플 파일임-->