<div id="modal-alert" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <h2 class="uk-modal-title">메뉴 삭제</h2>
        <p>해당 메뉴를 정말 삭제하시겠습니까?</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">취소</button>
            <button id="btn-delete-menu" class="uk-button uk-button-primary" type="button">삭제</button>
        </p>
    </div>
</div>

