            </section>
            <!--풋터-->
        </div>
        <div id="offcanvas-nav" uk-offcanvas="overlay: true; flip: true">
            <div class="uk-offcanvas-bar uk-background-primary uk-padding-small" >
                <%- include ('nav') %>
            </div>
        </div>
    </main>
</body>
</html>