<ul class="uk-nav uk-nav-default">
    <li class="uk-parent">
        <ul class="uk-nav-sub">
            <li class="uk-nav-header">훑어보기</li>
            <li><a href="/home">메인 페이지</a></li>
            <!-- <li><a href="/stat">통계 보기</a></li> -->
        </ul>
    </li>
    <li class="uk-nav-divider"></li>
    <li class="uk-parent">
        <ul class="uk-nav-sub">
            <li class="uk-nav-header">매장 관리</li>
            <li><a href="/store">매장 정보</a></li>
            <!-- <li><a href="/store/edit">매장 정보 수정</a></li> -->
            <!-- <li><a href="#">매장 삭제</a></li> -->
            <li><a href="/item">상품 정보</a></li>
            <!-- <li><a href="/item/add">상품 수정</a></li> -->
        </ul>
    </li>
    <li class="uk-nav-divider"></li>
    <li class="uk-parent">
        <ul class="uk-nav-sub">
            <li class="uk-nav-header">부스 상태</li>
            <li><a href="/store/watch">부스 사용 현황</a></li>
            <li><a href="/store/info">부스 키 정보</a></li>
        </ul>
    </li>
    <li class="uk-nav-divider"></li>
    <ul class="uk-nav-sub">
        <li class="uk-nav-header">지원</li>
        <!-- <li><a href="/service/contact">MUFI 문의</a></li> -->
        <li><a href="/service/info">정보</a></li>
        <li>
            <form action="/auth/signout" method="POST">
                <a href="/auth/buser/signout" type="submit" onclick="console.log('send테스트')">로그아웃</a>
            </form>
        </li>
    </ul>
</ul>