<%- include ('../index/header') %>
<div class="uk-grid-small uk-animation-slide-bottom-small" uk-grid="masonry: true;">
    <div class="uk-width-1-1">
        <div class="uk-card uk-card-default uk-card-body" >
            <h2>매장 통합 관리</h2>
            <div>
                <button id="btn-add-store" class="uk-button uk-button-primary" href="#store-modal" uk-toggle>매장 추가하기</button>
            </div>
        </div>
    </div>
    <div class="uk-width-1-1">
        <div id="divList" class="uk-card uk-card-default uk-card-body uk-over">
            <h2>매장</h2>
            <p>무피 청주성안점</p>
            <table class="uk-table uk-table-hover uk-table-divider uk-table-responsive">
                <thead>
                    <tr>
                        <th>상점 이름</th>
                        <!-- <th>상점 코드</th> -->
                        <th>메모</th>
                        <th>등록 시각</th>
                        <th>설정</th>
                    </tr>
                </thead>
                <tbody id="table-data"></tbody>
            </table>
        </div>
    </div>
</div>


<div id="store-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <div id="content" class="uk-margin-large uk-width-xlarge@s">
            <div>
                <div>
                    <h2 id="store-modal-title">매장 신규 등록</h2>
                </div>
                <div class="uk-margin-large uk-width-xlarge@s form-div">
                    <form id="storeForm">
                        <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
                            <div>
                                <div class="uk-margin uk-width-medium@s">
                                    <h5>매장 이름</h5>
                                    <input id="store-modal-name" class="uk-input" type="text" value="fuck" name="name" placeholder="명칭">
                                </div>
                            </div>
                            
                            <div>
                                <div class="uk-margin uk-width-medium@s">
                                    <h5>매장 코드</h5>
                                    <input id="store-modal-code" class="uk-input" type="text" value="123123" name="code" placeholder="발급받은 매장 코드를 입력해주세요">
                                </div>
                            </div>
                            <div class="uk-width-xlarge@s">
                                <div class="uk-margin">
                                    <h5>메모</h5>
                                    <textarea id="store-modal-description" class="uk-textarea" type="text" rows="3" name="description" placeholder="매장의 위치, 특징에 대한 간단한 설명을 입력해주세요">fuck</textarea>
                                </div>
                            </div>
                            <div class="uk-width-xlarge@s">
                                <div uk-margin class="uk-margin uk-width-xlarge@s">
                                    <h5>매장 주소</h5>
                                    <input class="uk-input uk-width-1-2" type="text" value="23232" name="zip_code" id="postcode" placeholder="우편번호" readonly>
                                    <input class="uk-button uk-button-primary uk-width-auto" type="button" onclick="execDaumPostcode()" value="우편번호 검색"><br>
                                    <div id="wrap" style="display:none;border:1px solid;width:100%;height:300px;margin:5px 0;position:relative">
                                        <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
                                    </div>
                                    <input class="uk-input uk-width-expand" type="text" id="address" placeholder="주소" readonly><br>
                                    <input class="uk-input uk-width-expand" type="text" name="detail_address" id="detailAddress" placeholder="상세주소">
                                    <input class="uk-input uk-width-expand" type="text" id="extraAddress" placeholder="참고항목">
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin uk-flex uk-flex-between">
                            <span>
                                <button id="btn-delete-store" class="uk-button uk-button-danger" type="submit">삭제</button>
                            </span>
                            <span>
                                <button class="uk-button uk-button-primary" type="submit">등록</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/addressAPI.js"></script>
<script src="/js/storeApi.js"></script>

<%- include ('../index/footer') %>