<%- include ('../index/header') %>


<div class="uk-grid-small uk-animation-slide-bottom-small" uk-grid="masonry: true;">
    <div class="uk-width-3-4@m">
        <div class="uk-card uk-card-default uk-card-body" >
            <h2>매출 현황</h2>
            <div id="sales-card" class="uk-grid-small uk-child-width-1-2" uk-grid>
                <div class="sales" uk-margin>
                    <h4>일간 매출</h4>
                    <h5>500,000원</h5>
                </div>
                <div class="sales" uk-margin>
                    <h4>일간 방문자</h4>
                    <h5>50명</h5>
                </div>
                <div class="sales" uk-margin>
                    <h4>월간 매출</h4>
                    <h5>1,000,000원</h5>
                </div>
                <div class="sales" uk-margin>
                    <h4>월간 방문자</h4>
                    <h5>100명</h5>
                </div>
            </div>
        </div>
    </div>
    <div id="booth-card" class="uk-width-1-4@m">
        <ul class="uk-grid-small uk-child-width-1-1" uk-grid>
            <li>
                <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                    <div class="uk-flex uk-flex-between">
                        <div>
                            <span>1번 부스</span>
                        </div>
                        <div class="booth-info">
                            <span class="uk-label uk-label-success">동작</span>
                            <span class="uk-padding-small uk-padding-remove-vertical" uk-icon="cog"></span>
                        </div>
                        
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                    <div class="uk-flex uk-flex-between">
                        <div>
                            <span>2번 부스</span>
                        </div>
                        <div class="booth-info">
                            <span class="uk-label uk-label-warning">중지</span>
                            <span class="uk-padding-small uk-padding-remove-vertical" uk-icon="cog"></span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                    <div class="uk-flex uk-flex-between">
                        <div>
                            <span>3번 부스</span>
                        </div>
                        <div class="booth-info">
                            <span class="uk-label uk-label-warning">중지</span>
                            <span class="uk-padding-small uk-padding-remove-vertical" uk-icon="cog"></span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                    <div class="uk-flex uk-flex-between">
                        <div>
                            <span>4번 부스</span>
                        </div>
                        <div class="booth-info">
                            <span class="uk-label uk-label-warning">중지</span>
                            <span class="uk-padding-small uk-padding-remove-vertical" uk-icon="cog"></span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                    <div class="uk-flex uk-flex-between">
                        <div>
                            <span>5번 부스</span>
                        </div>
                        <div class="booth-info">
                            <span class="uk-label uk-label-warning">중지</span>
                            <span class="uk-padding-small uk-padding-remove-vertical" uk-icon="cog"></span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                    <div class="uk-flex uk-flex-between">
                        <div>
                            <span>6번 부스</span>
                        </div>
                        <div class="booth-info">
                            <span class="uk-label uk-label-warning">중지</span>
                            <span class="uk-padding-small uk-padding-remove-vertical" uk-icon="cog"></span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="uk-width-3-4@m">
        <div class="uk-card uk-card-default uk-card-body">
            <h2>최근 거래</h2>
            <table class="uk-table uk-table-divider uk-text-small uk-table-responsive">
                <thead>
                    <tr>
                        <th>이름</th>
                        <th class="uk-table-expand">결제 일시</th>
                        <th>결제 금액</th>
                        <th class="uk-table-shrink">부스 번호</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>서도원</td>
                        <td>2022/08/15 09:59:59</td>
                        <td>8,000</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>서도원</td>
                        <td>2022/08/15 09:59:59</td>
                        <td>8,000</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>서도원</td>
                        <td>2022/08/15 09:59:59</td>
                        <td>8,000</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>서도원</td>
                        <td>2022/08/15 09:59:59</td>
                        <td>8,000</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <%- include ('../index/footer') %>
    
    <!-- home아님 그냥 참고용 샘플 파일임-->